:root {
  --primary-color: #ff7b00;
  --secondary-color: #ff5500;
  --text-color: #f0f0f0;
  --bg-color: #1a1a1a;
  --card-bg: #2d2d2d;
  --border-color: #444;
  --shadow-color: rgba(0,0,0,0.3);
}

.body{
  background-color: var(--bg-color);
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner-img {
  width: 80px;
  image-orientation:(90deg);

  animation: spin 1.2s linear infinite;
}
